/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 880px) {
    .menu__list {
        width: 470px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .wrapper {
        padding: 30px 0 30px;
    }

    .offer {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .fotorama,
    .offer-content {
        width: 100%;
    }

    .fotorama {
        overflow: hidden;
        margin-bottom: 50px;
    }

    .fotorama__items {
        justify-content: center;
    }

    .fotorama-dots {
        margin: 0px 8px;
    }

    .about {
        .about-item {
            margin: 0 auto;
        }
        img {
            z-index: -1;
        }
    }

    .products {
        padding-top: 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .cards {
        justify-content: center;
    }

    .logo {
        width: 250px;
    }

    .navigation {
        flex-direction: column;
        border-radius: 15px 0px 0 15px;
    }

    .menu__list,
    .menu {
        width: 100%;
    }

    .btn {
        margin-bottom: 30px;
    }

    .company {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 620px) {
    .section {
        padding-bottom: 5px;
    }

    .header {
        display: flex;
    }

    .category {
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        width: 50%;
    }

    .category__item {
        padding: 10px;
    }

    .category__item {
        font-size: 10px;
    }

    .menu__list {
        flex-direction: column;
    }

    .menu__link {
        padding: 10px;
        font-size: 10px;
    }

    .btn {
        width: 140px;
        font-size: 9px;
    }

    .category-wrap {
        width: 50%;
        border-radius: 0px 15px 15px 0;
        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .category {
        height: 95%;
    }

    .tabs__items {
        flex-direction: column;
        label {
            &:last-child {
                .tabs-item {
                    margin-bottom: 0;
                }
            }
        }
    }

    .tabs-item {
        margin-bottom: 20px;
        width: 90px;
        text-align: center;
        .menu__icon {
            margin-bottom: 10px;
        }
    }

    [id^="tab"]:checked + .content-1,
    [id^="tab"]:checked + .content-2,
    [id^="tab"]:checked + .content-3,
    [id^="tab"]:checked + .content-4,
    [id^="tab"]:checked + .content-5,
    [id^="tab"]:checked + .content-6 {
        display: block;
        &::before {
            content: "";
            border-left: 1px solid #e2e2e2;
            border-top: 1px solid #e2e2e2;
            background-color: #fdfcfc;
            width: 20px;
            height: 20px;
            position: absolute;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(-45deg);
            left: -11px;
        }
    }

    [id^="tab"]:checked + .content-1 {
        &::before {
            top: 4%;
        }
    }

    [id^="tab"]:checked + .content-2 {
        &::before {
            top: 22%;
        }
    }

    [id^="tab"]:checked + .content-3 {
        &::before {
            top: 39%;
        }
    }

    [id^="tab"]:checked + .content-4 {
        &::before {
            top: 55%;
        }
    }

    [id^="tab"]:checked + .content-5 {
        &::before {
            top: 73%;
        }
    }

    [id^="tab"]:checked + .content-6 {
        &::before {
            top: 90%;
        }
    }

    .content-body {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 75%;
    }

    .services {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 509px) {

    h2 {
        font-size: 27px;
    }

    .fotorama-body {
        img {
            width: 300px;
            height: 250px;
        }
    }

    .fotorama-dots {
        height: 45px;
    }

    .fotorama__items {
        bottom: 40px;
    }

    .fotorama {
        margin-bottom: 0;
    }

    .content-body {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 65%;
        padding: 25px 15px;
        font-size: 10px;
    }

    .footer-center {
        div {
            &:first-child {
                flex-direction: column;
                div {
                    color: #979797;
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .about {
        padding: 60px 0;
        .about-item {
            p {
                line-height: 200%;
                font-size: 12px;
            }
        }
    }

    .tabs-item {
        .menu__icon {
            width: 40px;
            margin-bottom: 5px;
        }
        span {
            font-size: 12px;
        }
    }
}
